extends ../layout

block headers
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Users", onclick="location.href='" + base + "/admin/manage_users';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Manage Users
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Medicines", onclick="location.href='" + base + "/admin/manage_medicines';")
    i.glyphicon.glyphicon-list-alt
    span.main-actions|                         Manage Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Admins List", onclick="location.href='" + base + "/admin/admins_list';")
    i.glyphicon.glyphicon-tower
    span.main-actions|                         Admins List
  .header__actions-divider  
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Settings", onclick="")
    i.glyphicon.glyphicon-cog
    span.main-actions|                         Settings
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/admin/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout        
block content
  .page__subtitle.ng-binding Admins List
  .welcome__home-buttons     
    table#adminsTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Username
          th Email
          th Type
          -  if(admin_type) {
              th Change
              th Action
          -  }
      tbody
        if admins && admins.length > 1
          - for( var i = 0, len = admins.length; i < len; i++ ) {
          if admins[i].ID != admin_id  
            tr
              td #{admins[i].USERNAME} 
              td #{admins[i].EMAIL}
              if admins[i].TYPE
                td Super
              else
                td Normal
              -  if(admin_type) {
                  td
                    button.form-control.btn.btn-primary(data-toggle='modal', data-target='#changeAdminType', onclick='changeType('+admins[i].ID+')') Change Type
                  td
                    if admins[i].ACTIVE == 1
                      button.form-control.btn.btn-gray(onclick='suspend('+admins[i].ID+')') Suspend
                    else
                      button.form-control.btn.btn-success(onclick='activate('+admins[i].ID+')') Activate
              -  }      
          - }
block modals
  #changeAdminType.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Change Admin Type
        // /.modal-header
        .modal-body
          form(role='form')
            #typeAdminForm.form-group
              .input-group
                select#typeAdmin.form-control(name='type')
                  option.form-control(value='') Select Admin Type
                  option.form-control(value='0') Normal
                  option.form-control(value='1') Super
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
              // /.input-group
            // /.form-group      
        // /.modal-body
        .modal-footer
          button#change-type-btn.form-control.btn.btn-primary Change
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal          
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/admin/admins_list.js')  
  