extends ../layout

block content
  img.welcome__home-image(src= base +'/images/homeicon.svg')
  .welcome__home-message.ng-binding Welcome to ChemoFinder
  .welcome__home-buttons
    .col-md-6.col-md-push-3
      form#login-form(role='form')
        #emailLoginForm.form-group
          .input-group
            input#uEmail.form-control(name='email', type='text', placeholder='Email or Username', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-user
        // /.form-group
        #passwordLoginForm.form-group
          .input-group
            input#uPassword.form-control(name='password', type='password', placeholder='Password', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
          // /.input-group
        // /.form-group
      button#login-btn.form-control.btn.btn-primary(onclick='login()') Login
block modals
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...      
block scripts
  script(type='text/javascript', src=base+'/scripts/admin/login.js')
    