extends ../layout

block pages
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Search Medicines", onclick="location.href='" + base + "/doctor';")
    i.glyphicon.glyphicon-search
    span.main-actions|                         Search Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Profile", onclick="location.href='" + base + "/doctor/profile';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Profile
  .header__actions-divider
block account
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout

block content
  .page__subtitle.ng-binding Search Medicines
  .welcome__home-buttons
    tab-bar.ng-isolate-scope
      .tab-bar.mg-btm-30
        // ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab.tab-bar__active-tab
          | 1. Treatment Center
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope
          | 2. Select Medicine
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope
          | 3. Select Pharmacy
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope
          | 4. Shopping List
        // end ngRepeat: tab in tabBarCtrl.tabs
    h4.table-title Select Treatment Center
      .row
        .col-xs-4.col-xs-push-4
          select#treatment-center-select.large-form-control(onchange="selectTreatmentCenter(this)")
            option(value=0) Select Treatment Center
            -  if(treatmentCenters.length > 0) {
              -  for (var i = 0; i < treatmentCenters.length; i++) {
                  option(value=treatmentCenters[i].ID) #{treatmentCenters[i].ENTITY_NAME}
              - }
          - }
    h4.table-title Enter Patient ID
        .row
          .col-xs-4.col-xs-push-4
            input#patient-id


    h4.table-title Treatment Center Details
    div.div_search
      table.table_search
        thead
          tr.tr_search
            th.th_search Name
            th.th_search Phone
            th.th_search Email
            th.th_search Address
            th.th_search City
            th.th_search Country
            th.th_search Open From
            th.th_search Open To
            th.th_search Last Update
        tbody#treatment-center-details
          tr.tr_search
            td.empty_table.td_search(style="text-align: center;", valign="top", colspan="9") No treatment center has been chosen yet
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-top-20(onclick="nextStep()") Next
block scripts
  script(type='text/javascript', src=base+'/scripts/doctor/select_treatment_center.js')
