<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Account Approval </h1>
      
      <spacer size="16"></spacer>

      <p class="text-center"> Congratulation! Your account is now activated successfully by the admin</p>
      <a class="large expand" href={{link}}>Try to login now </a>

      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>