<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Password recovery </h1>
      
      <spacer size="16"></spacer>

      <p class="text-center"> This e-mail is in response to your recent request to recover a forgotten password. Password security features are in place to ensure the security of your profile information. To reset your password, please click the link below and follow the instructions provided.</p>
      <a class="large expand" href={{link}}>Click here to reset your password </a>
      <p class="text-center"> This link will remain active for the next 3 hours.</p>

      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>