<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Chemofinder New Account </h1>
      
      <spacer size="16"></spacer>

      <p class="text-center"> Congratulation! You got a new account on Chemofinder your password is: <strong>{{password}}</stong> </p>
      <p><a class="large expand" href={{link}}>Try to login now </a> please change your password after your first login</p>

      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>