<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Uploading Medicines List is Completed Successfully</h1>
      
      <spacer size="16"></spacer>

      <p class="text-center"> The medicines list is updated successfully, you can check it from</p>
      <a class="large expand" href={{link}}>here </a>

      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>