<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Uploading Stock List Has Completed Successfully</h1>
      
      <spacer size="16"></spacer>

      <p class="text-center"> Your stock list has updated successfully, you can check it <a class="large expand" href={{link}}>here </a></p>

      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>