extends layout

block content
  .welcome__home-message.ng-binding Forgot Password
  .welcome__home-buttons
    div(style='margin-bottom:10px') Enter your email here
    .col-md-6(style='margin-left:25%;')
      form(role='form')
        #emailForm.form-group
          .input-group
            input#uEmail.form-control(name='email', type='text', placeholder='Email')
            span.input-group-addon
              i.glyphicon.glyphicon-user
        // /.form-group
        #typeForm.form-group
              .input-group
                select#type.form-control
                  option.form-control(value='doctor') Doctor
                  option.form-control(value='pharmacy') Pharmacy
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
        // /.form-group          
      button.form-control.btn.btn-primary(onclick='reset_password()') Reset Password
block scripts
  script(type='text/javascript', src=base+'/scripts/forgot_password.js')