extends layout

block stylesheets
  link(href=base+'/stylesheets/bootstrap-timepicker.min.css', rel='stylesheet')
block content
  img.welcome__home-image(src=base+'/images/homeicon.svg')
  .welcome__home-message.ng-binding Welcome to ChemoFinder
  .welcome__home-buttons
    button.button.btn-outline.ng-binding(ng-click='welcomeCtrl.importForecast()', data-toggle='modal', data-target='#Login')
      | Login
    button.button.btn-outline.ng-binding(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#Register')
      | Register
block modals             
  #Login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Log in
        // /.modal-header
        .modal-body
          form(role='form')
            #emailLoginForm.form-group
              .input-group
                input#uEmail.form-control(name='email', type='text', placeholder='Email')
                span.input-group-addon
                  i.glyphicon.glyphicon-user
            // /.form-group
            #passwordLoginForm.form-group
              .input-group
                input#uPassword.form-control(name='password', type='password', placeholder='Password')
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
              // /.input-group
            // /.form-group
            #typeLoginForm.form-group
              .input-group
                select#login-type.form-control
                  option.form-control(value='doctor') Doctor
                  option.form-control(value='pharmacy') Pharmacy
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
              // /.input-group
            // /.form-group
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='login();') Login
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #Register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Register
        // /.modal-header
        .modal-body
          form(role='form')
            #typeRegisterForm.form-group
              .input-group
                select#type.form-control
                  option.form-control(value='doctor') Doctor
                  option.form-control(value='pharmacy') Pharmacy
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
              // /.input-group
            // /.form-group
            #nameRegisterForm.form-group
              .input-group
                input#name.form-control(name='name', type='text', placeholder='Name')
                span.input-group-addon
                  i.glyphicon.glyphicon-user
            // /.form-group
            #emailRegisterForm.form-group
              .input-group
                input#email.form-control(name='email', type='text', placeholder='Email')
                span.input-group-addon
                  i.glyphicon.glyphicon-envelope
            // /.form-group
            #passwordRegisterForm.form-group
              .input-group
                input#password.form-control(name='password', type='password', placeholder='Password')
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
              // /.input-group
            // /.form-group
            #rpasswordRegisterForm.form-group
              .input-group
                input#rpassword.form-control(name='rpassword' type='password', placeholder='Confirm Password')
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
              // /.input-group
            // /.form-group
            #addressRegisterForm.form-group.handle(style='display:none;')
              .input-group
                input#address.form-control(name='address', type='text', placeholder='Address')
                span.input-group-addon
                  i.glyphicon.glyphicon-home
            // /.form-group
            #phoneRegisterForm.form-group.handle(style='display:none;')
              .input-group
                input#phone.form-control(name='phone_number', type='text', placeholder='Phone Number')
                span.input-group-addon
                  i.glyphicon.glyphicon-earphone
            // /.form-group
            p.handle(style='display:none;') 
              strong Open from
            #openFromRegisterForm.form-group.handle(style='display:none;')
              .input-group.bootstrap-timepicker.timepicker
                input#timepicker1.form-control.input-small(name='open_from', type='text')
                span.input-group-addon
                  i.glyphicon.glyphicon-time
            // /.form-group
            p.handle(style='display:none;')
              strong Open to
            #openToRegisterForm.form-group.handle(style='display:none;')
              .input-group.bootstrap-timepicker.timepicker
                input#timepicker2.form-control.input-small(name='open_to', type='text')
                span.input-group-addon
                  i.glyphicon.glyphicon-time
            // /.form-group      
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='register();') Register
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
block scripts
  script(type='text/javascript', src=base+'/javascripts/bootstrap-timepicker.min.js')
  script(type='text/javascript', src=base+'/javascripts/home.js')
