extends layout

block content
    h1=parameters.message
    h2=parameters.tableName
    form#list-form
      div#main
        table#list
          thead
            tr
              for hdr in Object.keys(data[0])
                th #{hdr}
          tbody
            if data && data.length > 0
              each row in data
                tr
                  each col in row
                    td #{col}
