extends ../layout

block content
  .welcome__home-message.ng-binding Change Password
  .welcome__home-buttons
    .col-md-6.col-md-push-3
      form(role='form')
        #passwordForm.form-group
          .input-group
            input#password.form-control(name='password', type='password', placeholder='New Password', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
        // /.form-group
        #rpasswordForm.form-group
          .input-group
            input#rpassword.form-control(name='rpassword', type='password', placeholder='Confirm New Password', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
        // /.form-group          
      button.form-control.btn.btn-primary(onclick='change_password()') Change Password
block scripts
  script(type='text/javascript', src=base+'/scripts/user/first_change_password.js')