extends ../layout

block content
  .page__subtitle.ng-binding Forgot Password
  .welcome__home-buttons
    div(style='margin-bottom:10px') Enter your email here
    .col-md-6.col-md-push-3
      form.forgot-password-body(role='form')
        #emailForm.form-group
          .input-group
            input#uEmail.form-control(name='email', type='text', placeholder='Email')
            span.input-group-addon
              i.glyphicon.glyphicon-user
        // /.form-group   
      button#forgot-password-btn.form-control.btn.btn-primary(style="margin-bottom: 10px;", onclick='reset_password("' + user_type + '")') Reset Password
      button#forgot-password-btn.form-control.btn.btn-primary(onclick='go_home("' + user_type + '")') Go Home Page
block modals      
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...
  #confimForgotPassword.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Forgot Password
        // /.modal-header
        .modal-body
          |  Check your email to reset your password
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='go_home("' + user_type + '")') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal      
block scripts
  script(type='text/javascript', src=base+'/scripts/user/forgot_password.js')