extends ../layout

block content
  .page__subtitle.ng-binding Reset Password
  .welcome__home-buttons
    .col-md-6.col-md-push-3
      form.reset-password-body(role='form')
        #passwordForm.form-group
          .input-group
            input#password.form-control(name='password', type='password', placeholder='New Password', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
        // /.form-group
        #rpasswordForm.form-group
          .input-group
            input#rpassword.form-control(name='rpassword', type='password', placeholder='Confirm New Password', style='position:static')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
        // /.form-group          
      button#reset-password-btn.form-control.btn.btn-primary(onclick='reset_password()') Reset Password
block modals
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...
  #confimResetPassword.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Reset Password
        // /.modal-header
        .modal-body
          |  Your password has been reset successfully!
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='window.location="'+ base +'/"') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal      
block scripts
  script(type='text/javascript', src=base+'/scripts/user/reset_password.js')